body {
  background-color: #e60515;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-honda {
  background-color: #e60515;
  color: white;
  &:hover {
    scale: 1.1;
    background-color: #e60515;
    color: white !important;
    transition: ease-in 0.2s;
  }
}

.deleteModal {
  background-color: #e60515;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 50vh;
  border-radius: 15px;
  button {
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
  }
  .yes {
    background-color: white;
    color: red;
  }
}

.create {
  background-color: #e60515;
  display: inline-block;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  &:hover {
    scale: 1.1;
    transition: ease-in 0.2s;
  }
}

.login-form {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 140%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 800px) {
      left: 50%;
      top: 130%;
    }
    input {
      background-color: white;
      padding: 0.5rem 1.5rem;
      border-radius: 15px;
      border: 3px solid #e60515;
      &:focus {
        outline: none;
        border: 3px solid black;
      }
    }
    button {
      padding: 0.5rem 2rem;
      border: none;
      outline: none;
      background-color: black;
      color: white;
      border-radius: 15px;
    }
  }
}

.error-msg {
  position: absolute;
  left: 140%;
  top: 15%;
  width: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 800px) {
    top: 100%;
    left: 50%;
  }
}

.honda-logo {
  background-image: url(/images/honda-logo-red.jpg);
  background-size: cover;
  background-position: center;
  width: 50vh;
  height: 50vh;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.honda-logo.left {
  left: 30%;
  @media (max-width: 800px) {
    left: 50%;
  }
}

.honda-logo.center {
  left: 30%;
  animation: moveToCenter 0.5s forwards ease;
}

.heading {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.title-1,
.title-2,
.title-3 {
  position: absolute;
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation-delay: 0.3s;
  @media (min-width: 1200px) {
    font-size: 3.5rem;
  }
}

.title-1 {
  top: calc(50% - 35vh);
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInFromTop 1s ease-out forwards;
  animation-delay: 0.6s;
}

.title-2 {
  top: calc(50% + 30vh);
  left: calc(50% - 30vh);
  transform: translate(-50%, -50%);
  animation: fadeInFromBottomLeft 1s ease-out forwards;
  animation-delay: 0.8s;
}

.title-3 {
  top: calc(50% + 30vh);
  left: calc(50% + 30vh);
  transform: translate(-50%, -50%);
  animation: fadeInFromBottomRight 1s ease-out forwards;
  animation-delay: 1s;
}

.title-1:hover,
.title-2:hover,
.title-3:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.title-1:hover,
.title-2:hover,
.title-3:hover {
  letter-spacing: 0.5rem;
  transition: all 0.3s ease-in-out;
}

@keyframes moveToCenter {
  to {
    left: 50%;
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -10vh);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeInFromBottomLeft {
  0% {
    opacity: 0;
    transform: translate(-60%, 10vh);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInFromBottomRight {
  0% {
    opacity: 0;
    transform: translate(-40%, 10vh);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
